<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="cacheDiagnostics" type="Microsoft.ApplicationServer.Caching.AzureCommon.DiagnosticsConfigurationSection, Microsoft.ApplicationServer.Caching.AzureCommon" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>



  <dataCacheClients>
    <dataCacheClient name="default" maxConnectionsToServer="100">
      <!--To use the in-role flavor of Windows Azure Cache, set identifier to be the cache cluster role name -->
      <!--To use the Windows Azure Cache Service, set identifier to be the endpoint of the cache cluster -->
      <autoDiscover isEnabled="true" identifier="cacheperformance.cache.windows.net"/>

      <!--<localCache isEnabled="true" sync="TimeoutBased" objectCount="100000" ttlValue="300" />-->

      <!--Use this section to specify security settings for connecting to your cache. This section is not required if your cache is hosted on a role that is a part of your cloud service. -->
      <securityProperties mode="Message" sslEnabled="false">
        <messageSecurity authorizationInfo="YWNzOmh0dHBzOi8vY2FjaGVwZXJmb3JtYW5jZTU2NjItY2FjaGUuYWNjZXNzY29udHJvbC53aW5kb3dzLm5ldC8vV1JBUHYwLjkvJm93bmVyJlYzQ2lvdlZTSFVrVnJDMFBNSDZURGJzVFhudmFkLzZIUUpCN2cxNFVjazA9Jmh0dHA6Ly9jYWNoZXBlcmZvcm1hbmNlLmNhY2hlLndpbmRvd3MubmV0Lw==" />
      </securityProperties>
    </dataCacheClient>
  </dataCacheClients>
  
  
  <appSettings>
    
    <!-- Load Properties -->
    <add key="CacheProvider" value="Redis" />
    <!-- Options: Memcached, Sql, Redis-->
    <add key="ParallelInstances" value="30" />
    <add key="IterationsPerInstance" value="100000" />
    <add key="TestOperations" value="Put,Get,Remove" />
    <add key="SampleWindowSizeSeconds" value="15"/>
    <!-- Options: Put, Get, Remove -->

    <add key="CharactersPerMessage" value="32" />
    <!-- Memcached Properties -->
    <add key="Memcached.Endpoint" value="localhost" />
    <add key="Memcached.ThingSpeakWriteApiKey" value="8B4UOYLNAYVJY30V" />
    <!-- Redis Properties -->
    <add key="Redis.Endpoint" value="some.server.here.com:6380" />
    <add key="Redis.Key" value="some password here..." />
    <add key="Redis.UseSsl" value="True"/>
    
    
    <add key="Redis.ThingSpeakWriteApiKey" value="3ZNQHSOAUSLIRCNU" />
    <!-- Sql Properties -->
    <add key="Sql.ConnectionString" value="Data Source=10.41.68.84;Initial Catalog=ASPState;Integrated Security=True" />
    <add key="Sql.ThingSpeakWriteApiKey" value="Q3JME4V7TPDORYP1" />
    <!-- Azure Properties -->
    <add key="Azure.CacheName" value="default" />
    <add key="Azure.CacheRegion" value="Production"/>
    <add key="Azure.ThingSpeakWriteApiKey" value="25UIHATOUYPDKGPZ" />

    <!-- Coherence Properties -->
    <add key="Coherence.CacheName" value="default" />
    <add key="Cohereence.ThingSpeakWriteApiKey" value="OJIXQSWGBASM16FK" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>